h1 {
    color: #00f;
}

h2 {
    color: #f00;
}

.my-table td {
    border: 2px solid #000;
    width: 100px;
}

.my-table tr:hover {
    border: 2px solid #00F;
    background-color: antiquewhite;
}