<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Boot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template">
        <h1>About</h1>

        <table class="my-table">
            <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Email</td>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="customers" type="java.util.List<ru.alexander.entity.Customer>"*/-->
            <tr th:each="customer: ${customers}">
                <td th:text="${customer.getId()}"/>
                <td th:text="${customer.getName()}"/>
                <td th:text="${customer.getEmail()}"/>
            </tr>
            </tbody>
        </table>

        <input id="newCustomerName"/>
        <button id="btnAddNewCustomer">Add new customer</button>
    </div>
</div>

<!-- /.container -->

<script type="text/javascript"
        src="webjars/jquery/3.2.1/jquery.js"/>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript"
        src="../../js/main.js"></script>

</body>
</html>
